<h1>Relations</h1>
<table class="table" id="relation">
  <tr>
    <th>Job</th>
    <th>Successor</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

  <% @relations.each do |relation| %>
      <tr>
        <td><%= relation.job.name %></td>
        <td><%= relation.successor.name %></td>
        <td><%= link_to 'Show', relation %></td>
        <td><%= link_to 'Update', edit_relation_path(relation) %></td>
        <td><%= link_to 'Destroy', relation, method: :delete, data: {confirm: 'Are you sure?'} %></td>
      </tr>
  <% end %>
</table>

<br/>

<%= link_to 'Create a new Relation', new_relation_path %><br> <br>
<%= link_to  'Go back to main menu', current_user %>